body{
    margin: 0;
    padding: 0;
}
.bg-login{
    background-image: url('/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.4);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login{
    max-width: 400px;
    width: 100%;
    min-height: 300px;
    margin: auto auto;
    padding: 40px 50px;
    border-radius: 36px;
    background-color: rgba(255,255,255,.2);
    backdrop-filter: blur(6px);
}
.input{
    padding: 20px;
    margin: 10px 0;
    outline: none;
    border: none;
    border-bottom: 3px solid #ffffff;
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 24px;
    transition: all 1s;
}
.input:focus{
    border-bottom: 3px solid #26CED5;
}
.btn{
    background-color: #26CED5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    width: 100%;
    border: none;
    color: white;
    font-size: 24px;
}
::placeholder {
    color: white;
  }
